{% extends 'home/base.html' %} {% block title %} Student Home Page {% endblock %} {% block content %}

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card bg-light">
				<div class="card-body">
					<h5 class="card-title text-center">Add Student Information</h5>
					<hr class="border border-warning" />
					<form method="post">
                        {% csrf_token %}
						<!-- First and Last Name -->
						<div class="row mb-3">
							<div class="col-sm-6">
								<label for="first_name" class="form-label">First Name</label>
								<input type="text" class="form-control" id="first_name" name="first_name" />
							</div>
							<div class="col-sm-6">
								<label for="last_name" class="form-label">Last Name</label>
								<input type="text" class="form-control" id="last_name" name="last_name" />
							</div>
						</div>

						<!-- Student Image -->
						<div class="mb-3">
							<label for="image" class="form-label">Image </label>
							<input type="file" class="form-control" name="image" id="image" />
						</div>

						<!-- Student Roll and Registration -->
						<div class="row mb-3">
							<!-- For Roll -->
							<div class="col-sm-6">
								<label for="roll" class="form-label">Roll</label>
								<input type="number" class="form-control" name="roll" id="roll" min="1" />
							</div>
							<!-- For Registration -->
							<div class="col-sm-6">
								<label for="registration" class="form-label">Registration</label>
								<input type="number" class="form-control" name="registration" id="registration" min="1" />
							</div>
						</div>

						<!-- Student Age and City -->
						<div class="row mb-3">
							<!-- For Age -->
							<div class="col-sm-6">
								<label for="age" class="form-label">Age</label>
								<input type="number" class="form-control" name="age" id="age" min="1" max="100" />
							</div>
							<!-- For city -->
							<div class="col-sm-6">
								<label for="city" class="form-label">City</label>
								<input type="text" class="form-control" name="city" id="city" min="1" max="100" />
							</div>
						</div>

						<!-- For Full Address -->
						<div class="mb-3">
							<label for="address" class="form-label">Full Address</label>
							<input type="text" class="form-control" name="address" id="address" min="1" max="100" />
						</div>

						<div class="d-flex justify-content-center">
							<button type="submit" class="btn btn-success">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
